/* GENERAL */
*									{ margin:0; border:0; padding:0; outline:none; text-decoration:none; word-break:break-strict; }
img									{ max-width:100%; }
body								{ font-family: 'Open Sans', sans-serif; font-weight:400; font-size:14px; line-height:1em; position:relative; }
a:hover, a:focus					{ text-decoration:none; outline:none; }
a									{ outline:none !important; }

/* ESTRUCTURA */
.ionix								{ width:100%; max-width:1920px; min-width:320px; height:auto; position:relative; margin:0 auto;}
.generalMin							{ width:90%; max-width:1200px; min-width:320px; height:auto; position:relative; margin:0 auto; }
.general							{ width:90%; max-width:1440px; min-width:320px; height:auto; position:relative; margin:0 auto; }
.generalSpecial						{ width:90%; max-width:800px; min-width:320px; height:auto; position:relative; margin:0 auto; }
.general2							{ width:100%; max-width:1440px; min-width:320px; height:auto; position:relative; margin:0 auto; }
.generalMax							{ width:98%; max-width:1920px; min-width:320px; height:auto; position:relative; margin:0 auto; }
.generalMaxMax						{ width:100%; max-width:1920px; min-width:320px; height:auto; position:relative; margin:0 auto; }
.allion								{ width:100%; height:auto; position:relative; }

.tabAll								{ width:100%; height:100%; display:table; position:relative; }
.tabAllMenHeader					{ width:25%; height:100%; display:inline-table; position:relative; }
.tabAllMenHeader2					{ width:33.3%; height:100%; display:inline-table; position:relative; }
.tab								{ width:100%; display:table; position:relative; }
.tabIn								{ display:table-cell; width:; vertical-align:middle; position:relative; }
.tab2								{ display:table-cell; width:2%; vertical-align:middle; position:relative; }
.tab5								{ display:table-cell; width:5%; vertical-align:middle; position:relative; }
.tab20								{ display:table-cell; width:20%; vertical-align:middle; position:relative; }
.tab25								{ display:table-cell; width:25%; vertical-align:middle; position:relative; }
.tab30								{ display:table-cell; width:30%; vertical-align:middle; position:relative; }
.tab32								{ display:table-cell; width:32%; vertical-align:middle; position:relative; }
.tab40								{ display:table-cell; width:40%; vertical-align:middle; position:relative; }
.tab50								{ display:table-cell; width:50%; vertical-align:middle; position:relative; }
.tab60								{ display:table-cell; width:60%; vertical-align:middle; position:relative; }
.tab70								{ display:table-cell; width:70%; vertical-align:middle; position:relative; }
.tab80								{ display:table-cell; width:80%; vertical-align:middle; position:relative; }


.bHaaa:hover 						{ background-color:#aaa; }
.inpG								{ width:100%; max-width:500px; }
.btnIn1								{ border:solid 3px #20286d; display:inline-block; }


.tablas		{ width:35%; height:auto;display:table ;}
.tablas thead { color: red; }

    .logo-andigraf{
width: 220px;
    }

/* DISEÑO PERSONALIZADO PARA LOS CHECK BOX */
/*-------------------------------------------------------------*/



.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

  .form-group {
    display: flex;
    align-items: center;



