/* GENERAL */
*									{ margin:0; border:0; padding:0; outline:none; text-decoration:none; word-break:break-strict; }
img									{ max-width:100%; }
body								{ font-family: 'Open Sans', sans-serif; font-weight:400; font-size:14px; line-height:1em; position:relative; }
a:hover, a:focus					{ text-decoration:none; outline:none; }
a									{ outline:none !important; }

/* ESTRUCTURA */
.ionix								{ width:100%; max-width:1920px; min-width:320px; height:auto; position:relative; margin:0 auto;}
.generalMin							{ width:90%; max-width:1200px; min-width:320px; height:auto; position:relative; margin:0 auto; }
.general							{ width:90%; max-width:1440px; min-width:320px; height:auto; position:relative; margin:0 auto; }
.generalSpecial						{ width:90%; max-width:800px; min-width:320px; height:auto; position:relative; margin:0 auto; }
.general2							{ width:100%; max-width:1440px; min-width:320px; height:auto; position:relative; margin:0 auto; }
.generalMax							{ width:98%; max-width:1920px; min-width:320px; height:auto; position:relative; margin:0 auto; }
.generalMaxMax						{ width:100%; max-width:1920px; min-width:320px; height:auto; position:relative; margin:0 auto; }
.allion								{ width:100%; height:auto; position:relative; }

.tabAll								{ width:100%; height:100%; display:table; position:relative; }
.tabAllMenHeader					{ width:25%; height:100%; display:inline-table; position:relative; }
.tabAllMenHeader2					{ width:33.3%; height:100%; display:inline-table; position:relative; }
.tab								{ width:100%; display:table; position:relative; }
.tabIn								{ display:table-cell; width:; vertical-align:middle; position:relative; }
.tab2								{ display:table-cell; width:2%; vertical-align:middle; position:relative; }
.tab5								{ display:table-cell; width:5%; vertical-align:middle; position:relative; }
.tab20								{ display:table-cell; width:20%; vertical-align:middle; position:relative; }
.tab25								{ display:table-cell; width:25%; vertical-align:middle; position:relative; }
.tab30								{ display:table-cell; width:30%; vertical-align:middle; position:relative; }
.tab32								{ display:table-cell; width:32%; vertical-align:middle; position:relative; }
.tab40								{ display:table-cell; width:40%; vertical-align:middle; position:relative; }
.tab50								{ display:table-cell; width:50%; vertical-align:middle; position:relative; }
.tab70								{ display:table-cell; width:70%; vertical-align:middle; position:relative; }
.tab80								{ display:table-cell; width:80%; vertical-align:middle; position:relative; }


.bHaaa:hover 						{ background-color:#aaa; }
.inpG								{ width:100%; max-width:500px; }
.btnIn1								{ border:solid 3px #20286d; display:inline-block; }




