
h2
{
  text-align: center;
  color : #0012B2;
}


table {
  width: 100%;
  border-collapse: collapse;
}
 /* Zebra striping*/
tr:nth-of-type(odd) {
  background: #eee;

}
th {
  background: #595755;
  color: white;
  font-weight: bold;
  text-align: center;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;

  font-size: 12px;
}

tbody tr:hover td
{
  background-color: #fca207;
  color: black;
}


